.info{
    width: 800px;
    margin: 0 auto;
    border: 1.5px solid #e0e0e0;
    border-bottom: 2px solid #c20c0c;
    text-align: center;
    background-color: #f7f7f7;
    height: 500px;
}
.info .img{
    cursor: pointer;
    border: 1.5px solid #e0e0e0;
    margin: 20px;
    overflow: hidden;
    position: absolute;
}
.info #view{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.info h2{
    color: #ff6866;
    margin-top: 50px;
}