{% extends "myApp/base.html"%}
{% load static from staticfiles %}
{% block linkScript %}
    <link rel="stylesheet" type="text/css" href="{% static 'myApp/css/info.css' %}">
    <script src="{% static 'myApp/js/info.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock linkScript %}

{% block main %}

    <div id="geci">
        <h3 id="player" musicname="{{ music.musicName }}" musicid="{{ music.musicId }}">{{ music.musicName }}</h3>
        <br><br>
        <br>
        {{ music.lyricContent|safe }}
    </div>

    <div style="height: 100px"></div>
{% endblock main %}

